# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor specific
# Ignore VS Code settings, but keep the devcontainer configuration
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS-specific
.DS_Store
Thumbs.db